<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#1e293b" />

    <meta name="description" content="M.Sc CS - Software Engineer" />
    <meta
      name="keywords"
      content="sjdonado, Juan Sebastian Rodriguez Donado,  Github, Software Engineer, Computer Science"
    />

    <meta property="og:title" content="sjdonado | Juan Rodriguez Donado" />
    <meta property="og:type" content="website" />

    <meta property="og:url" content="https://sjdonado.de" />
    <meta property="og:site_name" content="sjdonado | Juan Rodriguez Donado" />
    <meta property="og:description" content="M.Sc CS - Software Engineer" />

    <meta
      property="og:image"
      content="https://avatars.githubusercontent.com/u/27580836"
    />
    <meta property="og:image:alt" content="sjdonado's profile picture" />

    <title>sjdonado | Juan Rodriguez Donado</title>

    <link
      rel="preload"
      as="image"
      href="https://avatars.githubusercontent.com/u/27580836"
    />

    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="bg-white">
      <div class="flex flex-col items-center space-y-1 justify-between mb-4 mx-2">
        <div class="relative">
          <img
            class="object-cover w-52 h-52 my-2 rounded-full"
            src="https://avatars.githubusercontent.com/u/27580836"
            alt="Juan Rodriguez Donado"
          />
        </div>
        <h1 class="text-2xl text-center">Juan Rodriguez Donado</h1>
      </div>
      <div class="w-5/6 sm:w-4/6 m-auto">
        <%- include('sections/about-me', { me: me }); %>
        <%- include('sections/devto', { devto: devto }); %>
        <%- include('sections/oss', { oss: oss }); %>
        <%- include('sections/events', { events: events }); %>
        <%- include('sections/slides', { slides: slides }); %>
      </div>
        <%- include('sections/footer'); %>
    </div>
  </body>
</html>
